[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.9"
psycopg2-binary = "==2.8.4"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
pillow = "*"
stripe = "*"
django-filter = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.8"
